ul.tabs{width:100%;list-style:none;height:34px;margin:0;padding:0 0 0 4px;}
ul.tabs li{float:left;height:34px;line-height:34px;overflow:hidden;position:relative;font-size:15px;text-transform:uppercase;background:#D6D6D6;color:#FFF;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin:0 5px 0 0;padding:0;}
ul.tabs li a{text-decoration:none;color:#FFF;display:block;outline:none;padding:0 13px;}
ul.tabs li a:hover{background:#D6D6D6;color:#FFF;}
html ul.tabs li.active,html ul.tabs li.active a,html ul.tabs li.active a:hover{background:#000;color:#FFF!important;}
ul.tabs li a span{background:url(../../img/front/counterbg.jpg) repeat-x;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;color:#000!important;padding:1px 4px 0;}
.tab_container{border-top:none;clear:both;}
.tabstyle{height:34px;line-height:34px;overflow:hidden;font-size:15px;background:url(../../img/front/tabbg.jpg) repeat-x top #207fcf;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin:0;padding:0;}
.tabstyle a{color:#fff;text-decoration:none;background:url(../../img/front/star.png) no-repeat 87px 1px;line-height:34px;padding:5px 35px 1px 10px;}
.blk12{color:#333;font-size:12px;text-shadow:1px 1px 0 #fff;}
.blk12 a{color:#333;text-decoration:underline;}
.blk12 a:hover{text-decoration:none;}
