@charset utf-8;
#header ul{list-style:none;margin:0;padding:0;}
#header li{display:inline;border:solid;border-width:1px 1px 0;margin:0 1em 0 0;}
#header li a{text-decoration:none;padding:0 1em;}
#content{width:600px;height:200px;background:#fff;border:1px solid #f5ab36;z-index:1;text-align:center;margin:0 auto;padding:10px 0;}
#header #selected{padding-bottom:1px;position:relative;top:1px;background:#EEE;}
.padding_left_160{padding-left:40px;}
.display{display:block;}
ul#navigation{list-style:none;position:relative;z-index:2;top:1px;display:table;border-left:1px solid #f5ab36;}
ul#navigation li{float:left;}
ul#navigation li a{background:#ffd89b;color:#222;display:block;text-decoration:none;border-top:1px solid #f5ab36;border-right:1px solid #f5ab36;margin:0;padding:6px 15px;}
#navigation{width:602px;margin:0 auto;}
ul#navigation li a.selected,ul li a.selected{border-bottom:1px solid #fff;color:#344385;background:#fff;}
